.map-icons:hover {
  cursor: pointer;
}

h1 {
  font-weight: 500;
}

body {
  padding-bottom: 20px;
}

.title {
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(105, 105, 105);
}

#container {
  background-color: #eaf3ed;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

#container img {
  display: block;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#container32:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


